[project]
	description = Request Bin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maciej Swinarski (MacSwinarski)
[access "refs/for/refs/*"]
	read = group user/Maciej Swinarski (MacSwinarski)
	push = group user/Maciej Swinarski (MacSwinarski)
	label-Code-Review = -2..+2 group user/Maciej Swinarski (MacSwinarski)
	label-Verified = -1..+1 group user/Maciej Swinarski (MacSwinarski)
	rebase = group user/Maciej Swinarski (MacSwinarski)
	removeReviewer = group user/Maciej Swinarski (MacSwinarski)
	submit = group user/Maciej Swinarski (MacSwinarski)
[access "refs/heads/*"]
	read = group user/Maciej Swinarski (MacSwinarski)
	create = group user/Maciej Swinarski (MacSwinarski)
	push = +force group user/Maciej Swinarski (MacSwinarski)
	pushMerge = group user/Maciej Swinarski (MacSwinarski)
[access "refs/tags/*"]
	push = +force group user/Maciej Swinarski (MacSwinarski)
	pushTag = group user/Maciej Swinarski (MacSwinarski)
	pushSignedTag = group user/Maciej Swinarski (MacSwinarski)
